header.dashboard-header {
  background-color: #fdfdfd !important;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #000 !important;
}

header.dashboard-header nav #header {
  background-size: 50px 40px !important;
  background-image: url("https://uploads-ssl.webflow.com/6130abe17bce7a1ecfc77d5b/616362fa432ce91104070fd0_Navidium-Logo-Blue.svg") !important;
}
